<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Created Date:</b>
  <%= formatted_date(@post.created_at) %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<p>
	<%= form_for [@post, @comments.build] do |f| %>
		<div class="field">
		<%= f.text_area :body, rows: 5 %>
		</div>
		<div class="actions">
			<%= f.submit %>
		</div>
	<% end %>
</p>
<p>
	<b>Comments:</b><br/>
<% @comments.each do |comment| %>
	<%= comment.body %>
	<br />
<% end %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
